@using MVC_Web.Models.Order
@model List<MyOrderViewModel>

@{
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MessageType"] mt-2">
        @TempData["Message"]
    </div>
}

<table class="table table-hover table-sm text-center mt-2 mb-2">
    <thead class="table-dark">
        <tr>
            <th>Datum</th>
            <th>Doručení</th>
            <th>Platba</th>
            <th>Stav objednávky</th>
            <th>Price</th>
            <th>Detail</th>
            <th>Edit</th>

        </tr>
    </thead>
    <tbody>
        @foreach (MyOrderViewModel order in Model)
        {
            <tr>
                <td>@order.ProcessingDate</td>
                <td>@order.Delivery.Name</td>
                <td>@order.Payment.Name</td>
                <td>@order.OrderState</td>
                <td>@order.TotalPrice Kč</td>
                <td>
                    <a class="btn btn-sm btn-warning me-1" asp-controller="Order" asp-action="OrderDetail" asp-route-id="@order.Id">
                        Detail
                    </a>
                </td>
                <td>
                    <a class="btn btn-sm btn-warning me-1" asp-controller="Order" asp-action="ChangeStateOfOrder" asp-route-id="@order.Id">
                        Změnit stav objednávky
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>